/* reset css */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.container  {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
    @media (min-width: 1170px) {
        .container {
            max-width: 1170px;
            padding: 0;
        }
    }

.row {
    margin-left: -5px;
    margin-right: -5px;
}
    .row:before,
    .row:after {
        content: "";
        display: table;
    }
    .row:after {
        clear: both;
    }

/* colunas */
.col {
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-right: -4px;
    *zoom: 1;
    *display: inline;
}
    /* 2 colonas */
    @media (min-width: 480px) {
        .col-2 {
            width: 50%;
        }
    }

    /* 3 colunas */
    @media (min-width: 728px) {
        .col-3 {
            width: 33.3333%;
        }
    }

    /* sidebar */
    @media (min-width: 992px) {
        .col-content {
            width: 60%;
        }

        .col-sidebar {
           width: 40%;
        }
    }

/* GERAL */

.home {
    background: #000;
    text-decoration-color: white;
    justify-content: center;
    align-items: center;
    align-content: center; 
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

h1 {
    margin: 10px 0 10px;
    text-align: center;
    font-size: 30px;
    color: #fff;
}

h2 {
    margin: 10px 0 10px;
    text-align: center;
    font-size: 25px;
    color: #000;
    padding-top: 50px
}


p {
    margin: 30px 0 10px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    padding-bottom: 60px;
}


/* animations */

.arrow {
    width: 100px;
    height: 100px;
    position: relative;
    -webkit-animation-name: arrow;
    animation-name: arrow;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    text-align: center;
}

@-webkit-keyframes arrow {
    0% {
        top: 0px;
    }
    50% {
        top: 20px;
    }
    100% {
        top: 0px;
    }
}

@keyframes arrow {
    0% {
        top: 0px;
    }
    50% {
        top: 20px;
    }
    100% {
        top: 0px;
    }
}

.anima2 {
    width: 100px;
    height: 100px;
    position: relative;
    -webkit-animation-name: anima2;
    animation-name: anima2;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    text-align: center;
}

@-webkit-keyframes anima2 {
    0% {
        top: 0px;
        left: 0px;
    }
    25% {
        top: 0px;
        left: 100px;
    }
    50% {
        top: 100px;
        left: 100px;
    }
    75% {
        top: 100px;
        left: 0px;
    }
    100% {
        top: 0px;
        left: 0px;
    }
}

/* end animations */


/* DEMO */
.teste {
    background: #000;
    padding: 10px;
    border-radius: 2px;
    text-align: center;
    margin: 2px 0;
    color: #fff;
}