<!DOCTYPE html><html lang="pt-br"><head><meta charset="UTF-8"><title>Nork Framework</title><link rel="stylesheet" href="nork-framework.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></head><body><div class="home"><h1 class="color-white">OPEN NORK v0.1</h1><p class="color-white">Framework CSS desenvolvido para agilizar o desenvolvimento de produtos web </p><div class="arrow col pdt"><i class="fa fa-thumbs-o-up fa-5x fa-inverse" aria-hidden="true"></i></div></div><div class="container pdb"><!--uma coluna--><div class="row"><div class="col text-center pdt"><h2>Redimensione o seu navegador e veja a mágica!</h2></div><div class="col pdt"><div class="teste">col</div></div></div><!--duas culunas--><div class="row"><div class="col col-2"><div class="teste">col-2</div></div><div class="col col-2"><div class="teste">col-2</div></div></div><!--três colunas--><div class="row"><div class="col col-3"><div class="teste">col-3</div></div><div class="col col-3"><div class="teste">col-3</div></div><div class="col col-3"><div class="teste">col-3</div></div></div><!--Coluna com sidebar--><div class="row"><div class="col col-content"><div class="teste">content</div></div><div class="col col-sidebar pdb"><div class="teste">Powered by Nork.Digital</div></div></div><div class="button"><a href="https://github.com/cjperes/opennork/blob/gh-pages/startpage.html">COMEÇE A USAR!</a></div></div></body></html>ger {
    background: #ff4455!important;
}

.bg-success {
    background: #3FC380!important;
}

.bg-attention {
    background: #F4D03F!important;
}

.bg-black {
    background: #000000!important;
}

.bg-grey {
    background: #777777!important;
}

.bg-white {
    background: #FFFFFF!important;
}

.bg-turquoise {
    background: #1abc9c!important;
}

.bg-greensea {
    background: #16a085!important;
}

.bg-emerald {
    background: #2ecc71!important;
}

.bg-nephritis {
    background: #27ae60!important;
}

.bg-peterriver {
    background: #3498db!important;
}

.bg-belizehole {
    background: #2980b9!important;
}

.bg-amethyst {
    background: #9b59b6!important;
}

.bg-wisteria {
    background: #8e44ad!important;
}

.bg-wetasphalt {
    background: #34495e!important;
}

.bg-midnightblue {
    background: #2c3e50!important;
}

.bg-sunflower {
    background: #f1c40f!important;
}

.bg-orange {
    background: #f39c12!important;
}

.bg-carrot {
    background: #e67e22!important;
}

.bg-pumpkin {
    background: #d35400!important;
}

.bg-alizarin {
    background: #e74c3c!important;
}

.bg-pomegranate {
    background: #c0392b!important;
}

.bg-clouds {
    background: #ecf0f1!important;
}

.bg-silver {
    background: #bdc3c7!important;
}

.bg-concrete {
    background: #95a5a6!important;
}

.bg-asbestos {
    background: #7f8c8d!important;
}

.color-default {
    color: #222222!important;
}

.color-primary {
    color: #3498db!important;
}

.color-danger {
    color: #ff4455!important;
}

.color-success {
    color: #3FC380!important;
}

.color-attention {
    color: #F4D03F!important;
}

.color-black {
    color: #000000!important;
}

.color-grey {
    color: #777777!important;
}

.color-white {
    color: #FFFFFF!important;
}

.color-turquoise {
    color: #1abc9c!important;
}

.color-greensea {
    color: #16a085!important;
}

.color-emerald {
    color: #2ecc71!important;
}

.color-nephritis {
    color: #27ae60!important;
}

.color-peterriver {
    color: #3498db!important;
}

.color-belizehole {
    color: #2980b9!important;
}

.color-amethyst {
    color: #9b59b6!important;
}

.color-wisteria {
    color: #8e44ad!important;
}

.color-wetasphalt {
    color: #34495e!important;
}

.color-midnightblue {
    color: #2c3e50!important;
}

.color-sunflower {
    color: #f1c40f!important;
}

.color-orange {
    color: #f39c12!important;
}

.color-carrot {
    color: #e67e22!important;
}

.color-pumpkin {
    color: #d35400!important;
}

.color-alizarin {
    color: #e74c3c!important;
}

.color-pomegranate {
    color: #c0392b!important;
}

.color-clouds {
    color: #ecf0f1!important;
}

.color-silver {
    color: #bdc3c7!important;
}

.color-concrete {
    color: #95a5a6!important;
}

.color-asbestos {
    color: #7f8c8d!important;
}

.color-softred {
    color: #EC644B !important;
}

.color-flamingo {
    color: #EF4836 !important;
}

.color-radicalred {
    color: #F62459 !important;
}

.color-studio {
    color: #8E44AD !important;
}


/* FIM COLORS */


/* 3 col GRID SYSTEM */

.col {
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-right: -4px;
    *zoom: 1;
    *display: inline;
}


/* 2 colunas */

@media (min-width: 480px) {
    .col-2 {
        width: 50%;
    }
}


/* 3 colunas */

@media (min-width: 728px) {
    .col-3 {
        width: 33.3333%;
    }
}


/* sidebar */

@media (min-width: 992px) {
    .col-content {
        width: 60%;
    }
    .col-sidebar {
        width: 40%;
    }
}


/* FIM GRID SYSTEM */


/* CONTAINER E ROW */

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

@media (min-width: 1170px) {
    .container {
        max-width: 1170px;
        padding: 0;
    }
}

.row {
    width: 100%;
    align-content: center;
    margin-left: -5px;
    margin-right: -5px;
}

.row:before,
.row:after {
    content: "";
    display: table;
}

.row:after {
    clear: both;
}


/* FIM CONTAINER E ROW */


/* PADDING */

.pdt {
    padding-top: 5%;
}

.pdb {
    padding-bottom: 5%;
}

.pdl {
    padding-left: 10px;
}

.pdr {
    padding-right: 10px;
}


/* FIM PADDING */


/* TAMANHOS BGS */

.bg-full {
    height: 100vh;
    padding: 7%;
}

.bg-90 {
    height: 90vh;
    padding: 7%;
}

.bg-80 {
    height: 80vh;
    padding: 7%;
}


/* FIM CONTAINER E ROW */


/* PARALLAX */

.parallax {
    /* Imagem a utilizar */
    background-image: url("http://bbcreative.org/upload/imagens/f0a64c3d7a9414b4ff86002e85873c3b.png") !important;
    /* Tamanho da imagem recomendado usar Viewport Units */
    height: 100vh;
    /* parallax effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* REMOVA ESTE COMENTÁRIO PARA DESLIGAR O PARALLAX EM DISPOSITIVOS MOBILE
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
} 
/*

/* FIM PARALLAX */


/* animations */

.fadeInUp {
    animation-name: fadeInUp;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.arrow {
    width: 100px;
    height: 100px;
    position: relative;
    -webkit-animation-name: arrow;
    animation-name: arrow;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    text-align: center;
}

@-webkit-keyframes arrow {
    0% {
        top: 0px;
    }
    50% {
        top: 20px;
    }
    100% {
        top: 0px;
    }
}

@keyframes arrow {
    0% {
        top: 0px;
    }
    50% {
        top: 20px;
    }
    100% {
        top: 0px;
    }
}

.anima2 {
    width: 100px;
    height: 100px;
    position: relative;
    -webkit-animation-name: anima2;
    animation-name: anima2;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    text-align: center;
}

@-webkit-keyframes anima2 {
    0% {
        top: 0px;
        left: 0px;
    }
    25% {
        top: 0px;
        left: 100px;
    }
    50% {
        top: 100px;
        left: 100px;
    }
    75% {
        top: 100px;
        left: 0px;
    }
    100% {
        top: 0px;
        left: 0px;
    }
}


/* fim animations */


/* CUSTOM CSS */

.home {
    background: #000;
    text-decoration-color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.teste {
    background: #000;
    padding: 10px;
    border-radius: 2px;
    text-align: center;
    margin: 2px 0;
    color: #fff;
}

.button {
    position: absolute;
    left: 45%;
    align-items: center;
    align-content: center !important;
    border: 1px solid #000;
    width: 150px!important;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000!important;
    transition: 1s;
    border-radius: 1px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background: #e5e5e5 !important;
}

a:link {
    text-decoration: none;
}


/* FIM CUSTOM CSS */